[#escape x as (x)!?html]
				<div class="user-box-body-item"><a href="${ctx}/my/profile.jspx">资料修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/avatar.jspx">头像修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/password.jspx">密码修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/email.jspx">邮箱修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/contribution/create.jspx">稿件发布</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/contribution.jspx">稿件列表</a></div>
[/#escape]